@tailwind base;
@tailwind components;
.btn-blue {
  @apply bg-blue-400 text-white font-bold py-2 xl:py-2 xl:px-4 rounded-full xl:rounded-3xl ml-2 mt-3 xl:w-52 w-10 h-10;
}

.side-bar__content {
  @apply flex text-left mb-2 rounded-3xl p-2 hover:bg-blue-50 stroke-current text-black hover:stroke-current hover:text-blue-500 xl:w-44 w-auto cursor-pointer xl:mr-0;
}

.user-content{
  @apply flex text-left mb-2 rounded-3xl p-2 hover:bg-blue-50 stroke-current text-black hover:stroke-current hover:text-blue-500 xl:w-40 w-auto cursor-pointer;
}
* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid rgb(238, 216, 245); */
}
@tailwind utilities;
